HumanResource/MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDTO" nillable="true" type="tns:ArrayOfEmployeeDTO" />
  <xs:complexType name="EmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="tns:ContractDTO" />
      <xs:element minOccurs="0" name="ContractId" type="xs:int" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="tns:PositionDTO" />
      <xs:element minOccurs="0" name="PositionId" type="xs:int" />
      <xs:element minOccurs="0" name="PositionTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
  <xs:complexType name="ContractDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateContract" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NameContractor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeContract" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractDTO" nillable="true" type="tns:ContractDTO" />
  <xs:complexType name="PositionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypePosition" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionDTO" nillable="true" type="tns:PositionDTO" />
  <xs:complexType name="ArrayOfPositionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionDTO" nillable="true" type="tns:PositionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionDTO" nillable="true" type="tns:ArrayOfPositionDTO" />
  <xs:complexType name="ArrayOfContractDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractDTO" nillable="true" type="tns:ContractDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractDTO" nillable="true" type="tns:ArrayOfContractDTO" />
</xs:schema>